@import url(./font.css);

* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Gilroy-Bold", sans-serif;
  margin: 0;
  background-color: #0b1d26;
  background-image: url("../img/bg/BG.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #fff;
}

/* BASE */

.container-wide {
  max-width: 1600px; 
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  max-width: 1492px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

/* HEADER */

.header {
  padding-top: 64px;
  margin-bottom: 844px;
}

.nav-wrapper {
  margin-bottom: 198px;
}

.logo {
  font-family: "playfairDisplay-Bold", sans-serif;
  font-size: 32px;
}

.nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav li + li {
  margin-left: 40px;
}

.nav a {
  position: relative;
  color: #fff;
  text-decoration: none;
  transition: 0.2s ease-in;
  padding-bottom: 5px;
}

.nav a::after {
  position: absolute;
  left: 0;
  bottom: -5x;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #f2a900;
  opacity: 0;
}

.nav a:hover {
  color: #f2a900;
}

.nav a:hover::after {
  bottom: 0x;
  opacity: 1;
}

.account {
  position: relative;
  font-size: 17px;
  text-decoration: none;
  color: #fff;
  transition: 0.2s ease-in;
}

.account:hover {
  color: #f2a900;
}

.account::before {
  display: block;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0%;
  transform: translateY(-50%);
  transform: translateX(-160%);
  background-image: url("../img/icons/account.svg");
}

/* HERO */

.hero {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  transition: transform 0.8s cubic-bezier(0.655, -0.23, 0.095, 1.22);
}

.hero:hover {
  transform: translateY(-5%);
}

.hero-category {
  position: relative;
  padding-left: 104px;
  margin-bottom: 32px;
  font-weight: 800;
  line-height: 1.222;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #f2a900;
}

.hero-category::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  content: "";
  width: 72px;
  height: 2px;
  background-color: #f2a900;
}

.hero-title {
  margin-bottom: 32px;
  font-family: "playfairDisplay-Semi-bold";
  font-size: 88px;
  color: #fff;
  line-height: 100px;
}

.hero-scroll {
  display: inline-block;
  position: relative;
  color: #fff;
  padding-right: 32px;
}

.hero-scroll::after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 24px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../img/icons/arrow-down.svg");
}

/* MAIN */

.article {
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article:nth-child(even) {
  flex-direction: row-reverse;
}

.article-text {
  position: relative;
  padding-left: 150px;
  max-width: 782px;
  /* margin-right: 114px; */
}

.article-text::before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);

  display: block;
  content: attr(data-number);
  font-size: 240px;
  height: 1;
  width: 240px;
  height: 240px;
  color: rgba(255, 255, 255, 0.1);
}

.article-subtitle {
  position: relative;
  padding-left: 96px;
  margin-bottom: 32px;
  font-weight: 800;
  line-height: 1.222;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #f2a900;
}

.article-subtitle::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  content: "";
  width: 72px;
  height: 2px;
  background-color: #f2a900;
}

.article-title {
  margin-bottom: 27px;
  max-width: 555px;
  font-size: 64px;
  font-family: "playfairDisplay-Semi-bold";
  line-height: 1.2;
}

.article-text p {
  line-height: 1.78;
  margin-bottom: 27px;
}

.article-read-more {
  display: inline-block;
  position: relative;
  color: #f2a900;
  padding-right: 40px;
  text-decoration: none;
}

.article-read-more::after {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 16px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../img/icons/arrow-right.svg");
}

.article-img img {
  display: block;
}

/* FOOTER */

.footer {
  padding-bottom: 120px;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
}

.footer-copyright-logo {
  margin-bottom: 24px;
}

.footer-copyright-desc {
  max-width: 303px;
  line-height: 1.78;
}

.footer-copyright-terms {
  margin-top: auto;
  font-weight: 500;
  line-height: 1.78;
  color: rgba(255, 255, 255, 0.5);
}

.footer-right-wrapper {
  display: flex;
}

.footer-nav + .footer-nav {
  margin-left: 212px;
}

.footer-nav {
  max-width: 200px;
}

.footer-nav-title {
  margin-bottom: 24px;
  font-size: 24px;
  color: #fbd784;
  line-height: 1.333;
}

.footer-nav ul {
  color: #fff;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer-nav li {
  margin-bottom: 16px;
  padding: 0;
  margin: 0;
  margin-top: 11px;
}

.footer-nav li:last-child {
  margin-bottom: 0;
}

.footer-nav a {
  position: relative;
  text-decoration: none;
  color: #fff;
  padding-bottom: 5px;
}

.footer-nav a::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  transition: all 0.2s ease-in;
}

.footer-nav a:hover::after {
  bottom: 0px;
  opacity: 1;
}
